{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Liste de clients{% endblock %}

{% block body %}
<section class="container">
<h1>Liste de clients</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Company name</th>
      <th scope="col">Contact name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for client in clients %}
    <tr>
      <td>{{client.companyName}}</td>
      <td>{{client.contactName}}</td>
      <td>{{client.email}}</td>
      <td>{{client.phone}}</td>
      <td><a href={{ path('client_show', {"id":client.id})}}>Voir</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</section>
{% endblock %}
